.header_box,
.end,
.close {
    background-color: #45b459;
}

.title_header_bar {
    color: #142117;
    background-color: #45b459;
    font-weight: bold;
    font-size: x-large;
}

.tambah_button {
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 40px;
    min-width: 50px;
    border: 5px solid #45b459;
    border-radius: 40px;
}

.tambah_button label {
    color: #45b459;
    font-weight: bold;
    font-size: large;
}

.tambah_button:hover {
    background-color: #45b459;
}

.grid{
    margin-top: 10px;
    border: 2px solid black;
}

.box{
    margin: 5px;
    border: 2px solid #45b459;
    padding: 10px;
}

.label_null{
    margin-top: 40px;
    font-weight: bold;
    font-size: x-large;
}